<div style="text-align: center;">
  <h1>
    {{ title }}
  </h1>
  <div>
    <input [(ngModel)]="newMessage" placeholder="Type a message..." (keydown.enter)="sendMessage()" #messageInput/>
    <button (click)="sendMessage()">Send</button>
  </div>
  <h3>{{onlineUsers}}</h3>
  <div>
    <h3>Messages:</h3>
    <ul >
      <li *ngFor="let msg of messages">
        <!-- Change color based on whether the message was sent by the current user -->
        <span [ngStyle]="{'color': msg.senderId === userId ? 'green' : 'red'}">
          {{ msg.message }}
        </span>
      </li>
    </ul>
  </div>
</div>

<div>
  <h3>Video Call</h3>
  <div>
    <!-- Local video stream -->
    <video #localVideo autoplay muted playsinline></video>
    <!-- Remote video stream -->
    <video #remoteVideo autoplay playsinline></video>
  </div>
  <button (click)="startCall()">Start Call</button>
</div>

<router-outlet></router-outlet>
